<app-products-head></app-products-head>
<mat-card class="mat-mdc-card mdc-card cardWithShadow">
  <mat-card-content class="mat-mdc-card-content p-y-24">
    <div class="row">
      <div class="col-sm-6">
        <mat-card class="mat-mdc-card mdc-card cardWithShadow">
          <mat-card-content class="mat-mdc-card-content p-y-24">
            <mat-card-title class="mat-mdc-card-title">Name</mat-card-title>
            <mat-card-subtitle class="mat-mdc-card-subtitle f-s-14">
              descriptoin
            </mat-card-subtitle>
            <div class="text-center m-t-24">
              <img src="/assets/images/products/coffee-1.jpg" width="450" />
            </div> </mat-card-content
        ></mat-card>
      </div>
      <div class="col-sm-6">
        <mat-card class="mat-mdc-card mdc-card cardWithShadow">
          <mat-card-content class="mat-mdc-card-content p-y-24">
            <mat-label class="f-s-14 f-w-600 m-b-8 d-block"> Price </mat-label>
            <mat-label class="f-s-14 f-w-600 m-b-8 d-block"> Category </mat-label>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
