<div class="row">
  <div class="col-6">
    <app-dashboard-card
      title="Categories"
      number="96"
      image="coffee-category.svg"
    ></app-dashboard-card>
  </div>
  <div class="col-6">
    <app-dashboard-card
      title="Products"
      number="96"
      image="coffee-product.svg"
    ></app-dashboard-card>
  </div>
</div>
<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Coffee selection</mat-card-title>
    <mat-card-subtitle>We offer the best coffee in the world</mat-card-subtitle>
  </mat-card-content>
</mat-card>
