mat-card {
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out !important;

  // Hover effect
  &:hover {
    transform: scale(1.05) !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
    z-index: 10 !important;
  }
}
