.mat-mdc-row:hover {
    background-color: rgba(0, 0, 0, 0.04);
    transition: background-color 0.3s ease;
}

.mat-mdc-header-cell, .mat-mdc-cell {
    &.text-end {
        text-align: right;
        justify-content: flex-end;
    }
}